<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /opt/app-root/src/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !^/(app/webroot/)?(img|css|js)/(.*)$
    RewriteCond %{REQUEST_URI} !^/(app/webroot/)?(php-cms/e13)/etc/(.*)$
    RewriteCond %{REQUEST_URI} !^/(app/webroot/)?(php-cms/e13)/images/(.*)$
    RewriteRule ^$ index.php [QSA,L]
</IfModule>
