[submodule "app/webroot/php-cms"]
	path = app/webroot/php-cms
	url = https://bitbucket.org/b23prodtm/php-cms.git
[submodule "python-wifi-connect"]
	path = python-wifi-connect
	url = https://github.com/b23prodtm/python-wifi-connect.git
[submodule "cakephp"]
	path = cakephp
	url = git://github.com/cakephp/cakephp.git
	branch = 2.x
[submodule "app/Plugin/Datasources"]
	path = app/Plugin/Datasources
	url = https://github.com/cakephp/datasources.git
[submodule "app/Plugin/UpdateShell"]
	path = app/Plugin/UpdateShell
	url = https://github.com/b23prodtm/update.git
[submodule "app/Plugin/Markdown"]
	path = app/Plugin/Markdown
	url = https://github.com/b23prodtm/markdown-plugin.git
[submodule "app/Plugin/Backups"]
	path = app/Plugin/Backups
	url = https://github.com/Maldicore/Backups.git
