/nbproject/private/
/app/Vendor/
/app/webroot/e13/nbproject/private/
/app/tmp/tests/
/app/tmp/sessions/
/app/tmp/cache/
/app/tmp/logs/
/app/webroot/php-cms/e13/nbproject/private/
lib/Cake/Console/Templates/skel/tmp/