[submodule "app/webroot/php-cms"]
	path = app/webroot/php-cms
	url = https://bitbucket.org/b23prodtm/php-cms.git
[submodule "app/Plugin/Markdown"]
	path = app/Plugin/Markdown
	url = https://github.com/b23prodtm/markdown-plugin.git
[submodule "app/webroot/php_cms"]
	path = app/webroot/php_cms
	url = git@bitbucket.org:b23prodtm/php-cms.git
