[submodule "app/Plugin/Markdown"]
	path = app/Plugin/Markdown
	url = https://github.com/b23prodtm/markdown-plugin.git
[submodule "app/webroot/php_cms"]
	path = app/webroot/php_cms
	url = https://bitbucket.org/b23prodtm/php-cms.git
[submodule ".travis/TravisCI-OSX-PHP"]
	path = .travis/TravisCI-OSX-PHP
	url = https://github.com/b23prodtm/TravisCI-OSX-PHP.git
[submodule "python-wifi-connect"]
	path = python-wifi-connect
	url = https://github.com/b23prodtm/python-wifi-connect.git
[submodule "cakephp"]
	path = cakephp
	url = git://github.com/cakephp/cakephp.git
	branch = 2.x
[submodule "app/Plugin/UpdateShell"]
	path = app/Plugin/UpdateShell
	url = https://github.com/b23prodtm/update.git
