version: "3"
services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/var/www/html
    ports:
      - 8000:80
    depends_on:
      - db
    environment:
      DOCKER_OS_NAME: linux
      DOCKER_PHP_VERSION: ${_PHP}
      DB: Mysql
      # a host alias or IP address
      MYSQL_SERVICE_HOST: db
      MYSQL_SERVICE_PORT: 3306
      TEST_MYSQL_SERVICE_HOST: db
      TEST_MYSQL_SERVICE_PORT: 3306
      DATABASE_NAME: phpcms
      DATABASE_SERVICE_NAME: MYSQL
      #(optional)
      #WEBHOOK_URL: <discordapp-url>
      # Persistent connection credentials
      DATABASE_USER: root
      # overrides docker-compose-alias.sh -p=<password>
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      # Just add TEST_DATABASE_USER and TEST_DATABASE_PASSWORD
      TEST_DATABASE_USER: pi
      # overrides docker-compose-alias.sh -t=<password>
      #TEST_DATABASE_PASSWORD: <test-password>
      # CakePHP generated
      #CAKEPHP_SECRET_TOKEN: <secret-token>
      #CAKEPHP_SECRET_SALT: <secret-salt>
      #CAKEPHP_SECURITY_CIPHER_SEED: <cipher-seed>
      # Generated by ./configure.sh -h
      GET_HASH_PASSWORD: ${GET_HASH_PASSWORD}
  db:
    image: jahrik/arm-mysql:latest
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_ROOT_PASSWORD: ${DATABASE_PASSWORD}
      MYSQL_USER: pi
      MYSQL_PASSWORD: ${TEST_DATABASE_PASSWORD}

volumes:
  db-data:
    external: false
