[mysqld]
collation-server = utf8_unicode_ci
init-connect="SET NAMES utf8"
character-set-server = utf8
# TCP Socket settings (making 127.0.0.1 work)
port            = 3306
bind-address    = 127.0.0.1
# Unix socket settings (making localhost work)
user            = root
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock

[mariadb]
### Optional migrate-database.sh  --enable-authentication-plugin
### CREATE USER username@hostname IDENTIFIED VIA ed25519 USING PASSWORD('secret');
plugin_load_add = auth_ed25519
unix_socket = ON
