#!/usr/bin/env bash
set -eu
TOPDIR="$(cd "$(dirname \
"$(dirname "${BASH_SOURCE[0]}")")" && pwd)"
ln -sf "${TOPDIR}/%%BALENA_ARCH%%.env" "${TOPDIR}/.env"
balena_deploy "${TOPDIR}" %%BALENA_ARCH%% 3 0
ln -sf "${TOPDIR}/docker-compose.%%BALENA_ARCH%%" "${TOPDIR}/docker-compose.yml"
docker buildx bake -f "${TOPDIR}/docker-compose.yml" -f "${TOPDIR}/docker-bake.hcl" balena-storage \
  --set "*.platform=%%PLATFORM%%" --push
