a:link {
        text-decoration: none; color: green; 
}
a:hover {
        text-decoration: underline; color: red; background-color: yellow; 
}
a:visited {
        text-decoration: underline; color: green; font-style: italic; 
}
a {
        color: red; 
}
object, embed, canvas, video, audio, picture {
        max-width: 100%;
        height: auto;
}
.formulaire {
        font-size-adjust: 0.8;
        color: rgb(255, 255, 255); background-color: rgb(255, 102, 0); 
}
.liste {        
        font-size-adjust: 0.75;
        background-color: rgb(51, 51, 51); 
}
.titre {
        font-size-adjust: 0.7;
        color: white; background-color: rgb(65, 56, 54); 
}
.entete {
        color: white; background-color: rgb(65, 56, 54); 
}
.entete_titre {
        font-size-adjust: 1.1;
        color: black; font-style: italic; text-align: center;
}
.page_titre {
        font-size-adjust: 1.2;
        text-height: max-size; font-weight: bold; text-align: right; padding-right: 50px;
}
.image {
        font-family: courier; 
        font-style: italic;
        font-size-adjust: 0.6; 
}
.badge {
        width: 323px; height: 256px; 
}
/* begin SHRINK*/
* {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
}
.logo {
        width: 350px;
        height: 266px;
        border: 5px solid #fff;  
        float: left;
        margin: 10px;
        overflow: hidden;

        -webkit-box-shadow: 2.5px 2.5px 2.5px #111;
        -moz-box-shadow: 2.5px 2.5px 2.5px #111;
        box-shadow: 2.5px 2.5px 2.5px #111;  
}

.logo:hover {
        cursor: pointer;
}

.shrink img {
        width: 700px;
        height: 533px;

        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
}

.shrink img:hover {
        width: 350px;
        height: 266px;
}

/* end SHRINK */

.console {
        color: orange; font-family: monospace; background-color: green; 
}
.error {
        color: darkgray;
}
.info {
        font-size-adjust: 0.8; 	border-style: solid; 	border-top-width: 20px;
        /* border-width: 0; */
        border-color: #EFDD00; 	background-color: rgb(255, 255, 255); 
}

.info_titre {
        background-color: #FFFFFF;
        font-size-adjust: 1;
}
.a0 {
        background-color: rgb(255, 70, 0); 
}
.a1 {
        background-color: rgb(255, 53, 0); 
}
form {
        font-family: monospace; 
}
.formulaire_titre {
        background-color: rgb(204, 102, 0); 
}
td.formulaire {
        font-size-adjust: 0.8; background-color: rgb(255, 153, 0); 
}
.captcha {
        font-family: sans-serif;
        font-size-adjust: 1.05;
        color: rgb(0,143,255);
}
/* RESPONSIVE LAYOUT


        smartphones 


*/
@media screen and (max-device-width:1000px) {		

        table {
                border-width: 0; 
                font-size: 1.1em;
        }
        .body {
                border-style: dotted; border-color: rgb(70, 190, 40); background-color: rgb(245, 245, 245); 	
                font-family: sans-serif;
                width: 100%; 
                font-size: 1.4em;
        }

        .rubriquebanniere {
                font-family: monospace;
        }
        .rubrique {
                background-color: rgb(239, 221, 0); 
                position: absolute;
                bottom: 5em;
                right: 1em;
                display: none;
        }
        .adsense {
                display: none;
                float: bottom;
        }
        .menu {
                position:absolute;
                top:0em;
                left:0em;
                visibility: visible;
        }
        .menu_contents {
                position:absolute;
                visibility: hidden;
        }
        .boutonMenu {
                border: 4px outset rgb(250, 245, 245); 
                vertical-align: top; 
                background-color: rgb(248, 250, 249); 	
                position:absolute;
                left:0em;
                top:0em;
                visibility: visible;
        }
        .search {
                visibility: hidden;
                position : absolute;
        }
        .rubriques {
                border: 4px outset rgb(250, 245, 245); 
                vertical-align: top; 
                background-color: rgb(248, 250, 249); 	
                position:absolute;
                top:1em;
                left:1em;
                visibility:hidden;
        }
        .copyright {
                position: absolute;
                display:none;
                bottom: 1em;
                right: 1em;
        }
        .sitemap {
                padding: 2px; 
                font-size: 1.1em; 
                font-weight: lighter; background-color: rgb(255, 255, 255); 
        }

        .info_flash {
                visibility:hidden;    
        }
}/* 



 tablets and pcs 

 
 
*/
@media screen and (min-device-width:1000px) {			
        table {
                font-size: 0.9em;
                border-width: 0; 
        }
        .body {
                border-style: dotted; border-color: rgb(70, 190, 40); background-color: rgb(245, 245, 245);
                font-family: sans-serif;
        }
        .rubriquebanniere {
                visibility: hidden;
        }
        .rubrique {
                background-color: rgb(239, 221, 0);
        }
        .menu TR{
                border: 1px outset rgb(250, 245, 245); vertical-align: top; background-color: rgb(243, 243, 243); 
                
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;
        }
        .menu TR:hover{
                background-color: rgb(239, 221, 0);
        }
        .boutonMenu {
                position: absolute;
                visibility: hidden;
        }
        .sitemap {
                padding: 2px; 
                font-size: 0.9em; 
                font-weight: lighter; background-color: rgb(255, 255, 255); 
        }

        .info_flash {
                font-style: oblique; visibility: visible; 
        }
}